.header-name{
  margin-right:19%;
  font-size:150%;
}

.header-navbar{
  margin-left:15%;
}

footer{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  text-align:center;
  padding-bottom:1%;
}

.headshot-text{

}
