.header-name{
  margin-right:23%;
  font-size:150%;
}

.header-navbar{
  margin-left:15%;
}

footer{
  left:0;
  bottom:0;
  width:100%;
  text-align:center;
  padding-bottom:1%;
}

.standard-para{
  text-indent:6%;
  text-align:justify;
  margin-top:2%;
}

.standard-para-li{
  text-indent:-0.2%;
  margin-left: 5%;
  margin-top: -1%;
  list-style-type: disc;
}

.infobar-hr{
  height:1px;
  border:solid 0px;
  background:#cfd8dc;
  margin-top:15px;
  background-image: linear-gradient(to right, #cfd8dc, #8e9dba , #cfd8dc);
}

.infobar-div{
   text-align:center;
   border-left:solid 1px #cfd8dc;
   height: 100%;
}

.infobar-div-icons{
   margin-top:10px;
   margin-bottom:6px;
   font-size:80%;
}

.infobar-icons{
   padding-right:2px;
}

a:visited.infobar-link {
  color:#263238;
}

a:link.infobar-link {
  color:#263238;
}

a:hover.infobar-link {
  color:#d84315;
}

a:visited.infobar-link-text {
  color:#607d8b;
}

a:link.infobar-link-text {
  color:#607d8b;
}

a:hover.infobar-link-text {
  color:#d84315;
}

.main-hr{
  height:1px;
  border:solid 0px;
  background:#cfd8dc;
  margin-top:15px;
  background-image: linear-gradient(to right, #cfd8dc, #8e9dba , #cfd8dc);
}

a:visited.standard-link{
  color:#607d8b;
}

a:link.standard-link{
  color:#607d8b;
}

a:hover.standard-link{
  color:#d84315;
}

a:visited.standard-link-research{
  color:#455a64 ;
}

a:link.standard-link-research{
  color:#455a64;
}

a:hover.standard-link-research{
  color:#d84315;
}
